.root{
     box-sizing: border-box;
     overflow: hidden;
     height: 100dvh;
     width: 100dvw;
     max-width: 100dvw;
}

.chat{
     box-sizing: border-box;
     display: flex;
     width: 100%;
     height: 100%;
}

.root .chat .chat-container{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
     height: 100%;
     width: 100%;
     box-sizing: border-box;
}

.root .chat .chat-container .one{
     flex-wrap: wrap;
     max-width: 100%;
     width: 100%;
     height: 90%;
     display: flex;
     flex-direction: column;
     align-items: center;
     box-sizing: border-box;
}


.chat .chat-container .one img {
     margin: 20px 0px;
     height: 180px;
     width: 180px;
     border-radius: 50%;
}


.chat .chat-container .title{
     font-size: 1.7em;
}

.chat .chat-container .one .title-3{
     margin-top: 40px;
}

.chat .chat-container .two{
     position: relative;
     top: -80px;
     width: 100%;
     margin: 0 5px;
     height: 50px;
     justify-content: center;
     display: flex;
     border-radius: 10px;
     gap: 5px;
     img{
          position: relative;
          bottom: 5px;
          height: 50px;
          margin-right: 20px;
     }
     input{
          margin-left: 20px;
          width: 100%;
          border: none;
          background-color: 474545;
          color: black;
          border-radius: 10px;
          text-align: center;
          border-style: none;
     }
     input:focus,
     textarea:focus,
     select:focus{
          outline: none;
          border: none;
          box-shadow: none;
     }
}

.hide-data{
     display: none;
     cursor: none;
}


.root .chat .chat-container .one .chats{
     margin-top: 10px;
     margin-bottom: 10px;
     height: 85dvh;
     width: 100%;
     overflow-y: scroll;
     scrollbar-width: none;
     scroll-behavior: smooth;
     img{
          height: 40px;
          width: 40px;
          margin-bottom: auto;
     }
     .chat-user{
          margin: 10px 25px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 10px;
          margin-left: auto;
          text-align: left;
     }

     .chat-ai{
          height: auto;
          max-height: 80%;
          margin: 10px 25px;
          display: flex;
          justify-content: flex-start;
          text-align: left;
          gap: 15px;
          overflow-y: scroll;
          scrollbar-width: none;
          scroll-behavior: smooth;
     }

     .text{
          margin-top: 13px;
          margin-left: 60px;
     }

     .text-res{
          margin-top: 25px;
          overflow-x: hidden;
          height: auto;
          overflow-y: scroll;
          scroll-behavior: smooth;
          scrollbar-width: none;
     }

}

.text-res span{
     opacity: 0;
     animation: fade 1.5s forwards;
}

@keyframes fade {
     to{
          opacity: 1;
     }
}

.loading span{
     animation: loading 1.5s infinite alternate;
}

.loading span:nth-child(1){
     animation-delay: 0.1s;
}

.loading span:nth-child(2){
     animation-delay: 0.2s;
}

.loading span:nth-child(3){
     animation-delay: 0.3s;
}

.loading span:nth-child(4){
     animation-delay: 0.4s;
}

.loading span:nth-child(5){
     animation-delay: 0.5s;
}

.loading span:nth-child(6){
     animation-delay: 0.6s;
}

.loading span:nth-child(7){
     animation-delay: 0.7s;
}

.loading span:nth-child(8){
     animation-delay: 0.8s;
}

.loading span:nth-child(9){
     animation-delay: 0.9s;
}

.loading span:nth-child(10){
     animation-delay: 0.10s;
}

@keyframes loading {
     0%{
          opacity: 1;
     }
     100%{
          opacity: 0;
     }
}

@media (max-width: 768px) {
     .text-res{
          height: 80dvh
          
     }
}